<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>URL Shortner</title>
    <title>URL Shortner</title>
</head>

<body>
{{ home }}
</body>

<template name="home">

    <div class="Aligner">
        <div class="Aligner-item">
        <div>
            <h1>URL Shortner</h1>
            <form id="form" class="form-inline">
                <div class="form-group">
                    <input type="url" class="form-control input-large" placeholder="www.example.com" id="url" name="url" required
                           value="http://google.com">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <div id="shortURL"></div>
        </div>
        </div>
    </div>


</template>